<!-- This embedded Ruby HTML file receives the Fetched JSON data and formats it into HTML Table -->

<!-- Printing the Necessary data-->
 
<!DOCTYPE html >
<% @result.each_with_index do |element| %>

<table>
<tr>
<tr>
<tr><td>Emp_ID : <%=element["_id"]%></td></tr>
<tr><td>Emp_Name : <%= element["emp_name"]%></td></tr>
<tr><td>Dept_Name : <%= element["dept_name"]%></td></tr>
<tr><td> Job_Code : <%= element["job_code"]%></td></tr>
<tr><td>Job_Title : <%= element["job_title"]%></td></tr>-->
<tr><td>Grade: <%= element["grade"]%></td></tr>
<tr><td>Annual_Salary: <%= element["annual_salary"]%></td></tr>
</tr>
</tr>
</table>

<%end %>

